body{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#202020;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color:#202020;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color:#202020;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color:#202020;
}

/* ***MAIN*** */

.main{
    width: 1440px;
    margin: auto;
    width: 70%;
    background-color:#F3F3F3;
}

/* ***HERO*** */

.hero_cont{
    background-image: url(../assets/hero_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.header_cont{
    padding-top: 20px;
    padding-left: 40px;
    height: 90px;
}
.header_links{
    padding-top: 26px;
    padding-right: 40px;
    float: right;
}
.header_links p{
    margin-left: 30px;
    display: inline;
}
.hero_text{
    margin: auto;
    width: 30%;
    padding-top: 20px;
    text-align: center;
}
.hero_text h1{
    margin-bottom: 0px;
}

/* ***TEXTBLOCK*** */

.textblock{
    padding: 50px 200px 0px 200px;
}

/* ***TIP*** */

.tip_steps{
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.tip{
    margin-top: 50px;
    width: 500px;
    background-color:#ffffff;
}
.tip img{
    max-width: 100%;
}
.tip_text{
    padding: 0px 50px 30px 50px;
}
.tip_view{
    margin-top: 80px;
    text-align: right;
}

/* ***FOOTER*** */

.footer{
    margin-left: 50px;
    padding: 50px 0px 50px 0px;
}